@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal max-sm:p-5 outline-none sm:border-none border max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-4;
  }

  .padding-x {
    @apply sm:px-16 px-4;
  }

  .padding-y {
    @apply sm:py-24 py-8;
  }

  .padding-l {
    @apply sm:pl-16 pl-4;
  }

  .padding-r {
    @apply sm:pr-16 pr-4;
  }

  .padding-t {
    @apply sm:pt-24 pt-8;
  }

  .padding-b {
    @apply sm:pb-24 pb-4;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .half-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%; /* Adjust the width as needed */
    height: 6px; /* Adjust the thickness as needed */
    background-color: #3b82f6; /* Tailwind's blue-500 */
  }


.bg-shape {
  position: absolute;
  transform: rotate(6deg);
  /* Light blue color */
  border-radius: 6rem;
  top: 0;
  right: 5;
  height: 38rem; /* Adjust as needed */
  width: 30rem;  /* Adjust as needed */
}

.custom-border {
  position: relative;
  padding: 20px;
  margin: 20px;
}

.custom-border:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px dashed transparent;
  background-image: 
    linear-gradient(white, white), 
    linear-gradient(white, white),
    linear-gradient(to right, black 2px, transparent 1px),
    linear-gradient(to right, black 2px, transparent 1px),
    linear-gradient(to bottom, black 2px, transparent 1px),
    linear-gradient(to bottom, black 2px, transparent 1px);
  background-origin: border-box;
  background-clip: content-box, content-box, border-box, border-box, border-box, border-box;
  background-size: 3px 100%, 100% 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px;
  background-position: left top, left top, left top, right bottom, left bottom, right top;
  background-repeat: no-repeat;
  pointer-events: none;
}

 
  
}




